@import url("about.css"); 
@import url("contact.css");
@import url("footer.css");
@import url("header.css");
@import url("hero.css");
@import url("services.css");
@import url("preise.css");
@import url("partner.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --neutral-color: #FFFFFF;
  --background-dark:#1e1e1e;
  --background-light:#E9E6E2;
  --accent: #B87333;
  --text-main: #E9E6E2;
}






html, body {
font-size: 62.5;
overflow-x: hidden;
}

